NEAR_INTENTS_AGENT_API_URL=http://localhost:3000
NEAR_INTENTS_AGENT_API_KEY=naa___

DATABASE_URL=postgresql://near_intents_agent_demo:YOUR_PASSWORD@localhost:5435/near_intents_agent_demo

SECRET_ENCRYPTION_KEY=YOUR_SECRET_ENCRYPTION_KEY

BETTER_AUTH_SECRET=YOUR_BETTER_AUTH_SECRET

NODE_ENV=development